Right Triangle

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

Half Diamond

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print()
for i in range(n):
  for j in range(i,n-1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Diamond

In [ ]:
n=5
for i in range(n+1):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i):
    print("*",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print("*",end=" ")
  for j in range(i,n-1):
    print("*",end=" ")
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

Parallelogram

In [ ]:
n=5
for i in range(n):
  for j in range(i,n-1):
    print(" ",end="")
  for j in range(n):
    print("*",end=" ")
  print()

    * * * * *
   * * * * *
  * * * * *
 * * * * *
* * * * *

WAP to count total number of negative number in an array.

In [ ]:
a = [1,2,-3,-4,6,7,4,-2,4,-10]
count = 0
for i in a:
  if i<0:
    count = count+1
print(count)

4

max no. found from array

In [ ]:
def max_found(arr,n):
  max = arr[0]
  for i in range(1,n):
    if arr[i] > max:
      max = arr[i]
  return max

arr= [22,56,83,900,133]
n = len(arr)
a = max_found(arr,n)

print(a)

900

reverse the list

In [ ]:
def rev(arr):
  left = 0
  right = len(arr)-1
  while(left<right):
    temp = arr[left]
    arr[left]=arr[right]
    arr[right] = temp
    left += 1
    right -= 1
  return arr

n=int(input("Enter numbers "))
arr = []
for i in range(n):
  i = int(input("Enter array : "))
  arr.append(i)
print("ARRAY : ",arr)
print("Reversed Arrat : ",rev(arr))

Enter numbers 7
Enter array : 1
Enter array : 3
Enter array : 5
Enter array : 7
Enter array : 9
Enter array : 11
Enter array : 12
ARRAY :  [1, 3, 5, 7, 9, 11, 12]
Reversed Arrat :  [12, 11, 9, 7, 5, 3, 1]

WAP to search no. in an array then print the index of the first occurrence of the input number in the array

In [ ]:
def search(arr):
  for i in range(arr):
    if i == n:
      return index[i]
  return -1

n=int(input("Enter Number : "))
arr = [1,2,3,5,2]
print(search)

Enter Number : 2
<function search at 0x7be110132d40>

Set 3 Question (1)

In [ ]:
#creating function for factors (def Factors)
def Factors(n):
  factors = []
  for i in range(2,(n//2)+1):
    if n%i == 0:
      factors.append(i)
  factors.append(n) # we have done this because number is factor of itself
  return factors

# know create function where we check if the factore is square free or not
def IsSquareFree(n):
  SquareFree = True
  for i in Factors(n):
    if (i**0.5).is_integer():
      SquareFree = False
      break
  return SquareFree

n = int(input("Enter a number : "))
factors = Factors(n)

# count loop is created to count how many square free factors are there
count = 0
for k in factors:
  if IsSquareFree(k):
    count+=1

print(count)

Enter a number : 24
3

Set 3 Question 3

In [ ]:
# is this function we creating list of lists which length is equal to k.
def sublists(arr, k):
    result = []
    for i in range(len(arr) - k + 1):
        sublist = arr[i:i+k]
        result.append(sublist)
    return result
# here in this function we are finding the max value from an list(array).
def FindMax(l):
  Max=l[0]
  for i in range(len(l)):
    if Max<l[i]:
      Max = l[i]
  return Max

arr = [1, 2, 3, 4, 5, 6, 7, 8]
k = int(input("Enter K : "))
print(sublists(arr, k))
data = sublists(arr, k)

# when we use this for loop it means that i will take [1,2,3].... as an element from data
Maximums = []
for i in data:
  max = FindMax(i)
  Maximums.append(max)
print(f"Maximums From each list of kth length : {Maximums}")

Enter K : 3
[[1, 2, 3], [2, 3, 4], [3, 4, 5], [4, 5, 6], [5, 6, 7], [6, 7, 8]]
Maximums From each list of kth length : [3, 4, 5, 6, 7, 8]